<!DOCTYPE html>
<html>
<head>
<script>
function myFunction() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "http://TodoIpv4:3000/rdsdb", true);
  xhttp.send();
}
</script>
</head>
<body>

<h2>Ride the Waves</h2>

<p id="demo">Hi</p>

<button type="button" onclick="myFunction()">Go</button>

</body>
</html>
